# Игнорирование node_modules
node_modules/

# Игнорирование логов
*.log

# Игнорирование файлов настроек
*.env

# Игнорирование IDE и редакторов
.vscode/
.idea/

# Игнорирование временных файлов
*.bak
*.swp



